@use '../../styles/variables' as *;


.container {
	display: grid;
	grid-template-columns: repeat(2, minmax(20rem, 1fr));
	place-content: center;
	gap: 1.75rem;
	margin: 2rem auto 3.3rem;
}

.folderWrapper {
	text-align: center;
}

.folderName {
	font-size: 1.1rem;
	font-weight: 600;
	letter-spacing: 0.01em;
	color: $color-main;
	margin-top: 0.5rem;
	transition: 0.2s ease-in-out;
	&:hover {
		color: $color-main-light;
	}
}

.folderNameLink {
	display: inline-block;
}