@use "../../styles/variables" as *;

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid $color-main;
	padding: 1rem;
	overflow: hidden;
	cursor: pointer;

	margin-bottom: 12px;
	&:hover .image {
		scale: 1.01;
	}
}

.container.gallery {
	&:hover .image {
		scale: none;
	}
}

.container.popup {
	&:hover .image {
		scale: none;
	}
	.image {
		height: 90vh;
	}
	border: none;
}

.image {
	object-fit: contain;
	overflow: hidden;
	transition: 0.2s ease-in-out;
	width: auto;
	height: auto;
	transition: 0.2s ease-in-out;
}
