@use "../../styles/variables" as *;


.container {
	display: flex;
	border: 1px solid $color-main;
	height: fit-content;
	padding: 1rem;
	cursor : pointer;
	&:hover .image {
		scale: 1.05;
	}
}

.image {
	object-fit: contain;
	overflow: hidden;
	transition: 0.2s ease-in-out;
}


